<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{{ .Description | default site.Params.description }}">
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ .Title }} · {{ site.Title }}{{ end }}</title>

<link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><rect width='16' height='16' rx='3' fill='%2300acd7'/></svg>">
<link rel="preconnect" href="https://github.com">
<link rel="preconnect" href="https://avatars.githubusercontent.com">

{{ $bootstrap := resources.Get "vendor/bootstrap.min.css" | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $bootstrap.RelPermalink }}">

{{ $main := resources.Get "css/main.css" }}
{{ $hell := resources.Get "css/hell.css" }}
{{ $css := slice $main $hell | resources.Concat "css/bundle.css" | resources.Minify | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $css.RelPermalink }}">
